.actor {
  /* opacity: 1; */
  /* transition: 0.125s ease-out; */
  /* transition: 0.15s ease-out; */

}

.actor {
  /* fill: #C1723B; */
  fill: #00A7FF;
  stroke: #000000;
  stroke-width: 0.05px;
  /* transition: 0.175; */
  
  
  /* r: 0.4; */
  
}

/* .actor[data-moving=true]>* {
  stroke: #000000;
  stroke-width: 0.05px;
} */



.actor[data-moving=false],
.actor[data-moving=false] * {
  /* r: 0.4; */
}


.actor[data-moving=true][data-teleporting=false],
.actor[data-moving=true][data-teleporting=false] * {
  fill: #38DD17;
  /* filter: brightness(1.5); */
  r: 0.3;
  /* transform: scale(1, 1.2); */
  transition: 0.125s ease-out;
  
}


.actor[data-teleporting=false],
.actor[data-teleporting=false] * {
  /* r: 0.4; */
  
  transition: 0.5s;
}

.actor[data-teleporting=true],
.actor[data-teleporting=true] * {
  fill: #783BC1;
  r: 0.01;
  stroke-width: 0.00px;
}