#app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  padding: 0 6px;
  background: #D3D3D3;
}

#app-header-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  padding: 0 6px;
  background: #D3D3D3;
  text-align: left;
}

.app-header-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 4px;
  
  /* width: 100%; */
}

.app-header-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  width: 100%;
  padding: 4px;
  
}

.app-header-center-bottom {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0px;
}

#map-name {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: fit-content;
  background: transparent;
  border: 1px solid hsla(223, 0%, 0%, 0.62);
  padding: 4px 8px;
}