* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app-host {
  width: 100%;
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 4px;
  width: 100%;
  height: 100%;
  /* overflow: scroll; */
  background: #3F3F3F;
}

#app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  padding: 0 6px;
  background: #D3D3D3;
  /* opacity: 0; */
}

#app-header-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  padding: 0 6px;
  background: #D3D3D3;
  text-align: left;
}

.app-header-center-bottom {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0px;
  /* width: 100%; */
  /* height: 100%; */
  /* min-width:100vw;min-height:100vh; */
}

#app-state-display {
  padding: 4px;
  font-size: 12px;
}

#app-body {
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  overflow-y: hidden  ;
  /* height: 100%; */
  /* display: none; */
}

#app-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  /* height: 100%; */
  background: #192C4665;
  color: #D6D6D6;
  z-index: 1001;

}

#app-footer-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  height: 100%;
  z-index: 1001;
  /* display: none; */
}